.tablas{
    background-color: rgb(223, 158, 158);
    text-align: center;

}
.back{
text-align: center;
color: rgb(234, 0, 255);

}


.tal{
    color: aliceblue;
    border: greenyellow;
    border-style: double;

}